# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
he

# Test binaries
*.test

# Build output
bin/
.bin/
.cache/
dist/

# Coverage output
.coverprofile
coverage.out
*.out

# Dependency directories
vendor/

# macOS filesystem noise
.DS_Store
requirements/.DS_Store
requirements
.codex
